# Sqaured,Cubed and Power of itself

In [50]:
list_int=[1, 2, 3, 4, 5]
squared=[num**2 for num in list_int]
cubed=[num**3 for num in list_int]
power_itself=[num**num for num in list_int]
print("Squared List:",squared)
print("Cubed List:",cubed)
print("Power of itself:",power_itself)

Squared List: [1, 4, 9, 16, 25]
Cubed List: [1, 8, 27, 64, 125]
Power of itself: [1, 4, 27, 256, 3125]

# 2a.Write a list comprehension that filters out only the even numbers from the list [10, 15, 20, 25, 30, 35].

In [56]:
List_num=[10, 15, 20, 25, 30, 35]
without_even=[num for num in List_num if num%2!=0]
without_even

[15, 25, 35]

# 2b Write a list comprehenion/for loop that retuns every 4th value in  range of 1 to 100

In [77]:
range_1=range(1,100)
fourth_values=[ num for num in range_1 if num%4==0] 
fourth_values

[4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96]

# 3a. You have a list of strings, ["apple", "banana", "cherry"]. Write a list comprehension that converts each string to uppercase.

In [82]:
Fruits=["apple","banana","cherry"]
capital_fruits = [fruit.upper() for fruit in Fruits]
capital_fruits

['APPLE', 'BANANA', 'CHERRY']

# 3b. Now create a dictionary comprehension  to output the fruit as key and length of each character in the fruit as value

In [93]:
Fruits=Fruits
index_fruits= [i for i in range(len(Fruits))]  
zip(Fruits,index_val)
dict_val={k:v for  k,v in zip(Fruits,index_fruits)}
dict_val

{'apple': 0, 'banana': 1, 'cherry': 2}

# 4. Given a list of numbers [1, 2, 3, 4, 5, 6], write a single list comprehension that returns:

# a."even" for each even number

In [279]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = [(x, "even") for x in numbers if x % 2 == 0]
print(even_numbers)

[(2, 'even'), (4, 'even'), (6, 'even')]

In [283]:
numbers = [1, 2, 3, 4, 5, 6]
odd_numbers = [(x, "odd") for x in numbers if x % 2 != 0]
print(odd_numbers)

[(1, 'odd'), (3, 'odd'), (5, 'odd')]

# "odd" for each odd number

In [270]:
numbers = [1, 2, 3, 4, 5, 6]
odd_numbers = ["odd" for x in numbers if x % 2 != 0]
print(odd_numbers)

['odd', 'odd', 'odd']

# 5a Suppose you have a list of words like ["John", "Jane", "Erick", "Benard", "Comprehension"]. Write a list comprehension that extracts the first letter from each word.

In [136]:
Names=["John", "Jane", "Erick", "Benard", "Comprehension"]
first_letter = [name[0] for name in Names]
first_letter

['J', 'J', 'E', 'B', 'C']

# 5b. Save the outputs as dictionary using dictionary comprehension to show the name of each individual as key and first character as value

In [143]:
Names=Names
dictionary_comprehension = {name: name[0] for name in Names}
dictionary_comprehension

{'John': 'J', 'Jane': 'J', 'Erick': 'E', 'Benard': 'B', 'Comprehension': 'C'}

# 5c. Convert the outputs of number 1 to 5b as functions and test them

# # 1 a b c

In [195]:
def calculate_powers(list_int):
        squared = [num**2 for num in list_int]
        cubed = [num**3 for num in list_int]
        power_itself = [num**num for num in list_int]
        return squared, cubed, power_itself

list_int = [4, 6, 7, 8, 5]
squared, cubed, power_itself = calculate_powers(list_int)
calculate_powers(list_int)

([16, 36, 49, 64, 25],
 [64, 216, 343, 512, 125],
 [256, 46656, 823543, 16777216, 3125])

# 2a

In [213]:
#List_num=[10, 15, 20, 25, 30, 35]
def filter_even(List_num):
        return [num for num in List_num if num % 2 != 0] 

List_num = [10, 15, 20, 25, 30, 35]
without_even = filter_even(List_num)
without_even

[15, 25, 35]

# 2b

In [217]:
def fourth_val(range_1):
        return [num for num in range_1 if num % 4 == 0]  
range_1 = range(1, 100)
fourth_values = fourth_val(range_1)
fourth_values

[4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96]

# 3a

In [220]:
def upper_case(Fruits):
    return [fruit.upper() for fruit in Fruits]
Fruits=["apple","banana","cherry"]
capital_fruits

['APPLE', 'BANANA', 'CHERRY']

# 3b

In [230]:
def dict_comp(Fruits):
    return {fruit: index for index, fruit in enumerate(Fruits)}

Fruits = ["apple", "banana", "cherry"]
dict_val = dict_comp(Fruits)
dict_val

{'apple': 0, 'banana': 1, 'cherry': 2}

# 4 even and odd

In [242]:
def check_even(num):
    return "even" if num % 2 == 0 else None

List_num = [1, 2, 3, 4, 5, 6]
even_numbers = [check_even(num) for num in List_num if check_even(num) is not None]
even_numbers

['even', 'even', 'even']

In [244]:
def check_odd(num):
    return "odd" if num % 2 == 0 else None

List_num = [1, 2, 3, 4, 5, 6]
odd_numbers = [check_odd(num) for num in List_num if check_odd(num) is not None]
odd_numbers

['odd', 'odd', 'odd']

# 5a

In [277]:
def return_odd(Names):
    return[name[0] for name in Names]
Names=["John", "Jane", "Erick", "Benard", "Comprehension"]
first_letter = [name[0] for name in Names]
first_letter

['J', 'J', 'E', 'B', 'C']

# 6.Using a lists and dictionary of your choice, create  a dictionary containing 4 lists (full name, age, weight, location, gender) of 10 students.

In [166]:
FullNames=["Robert Rono","Diana Jerono","Pius Kamau","Jael Onyango","Patience Precious",
          "Asha Matiangi","Owen Wasike","Pamela Vakoli","Protus Makali","Kasongo Kaongo"]
Ages=[23,14,17,18,20,21,19,16,13,54]
Weights=[45,54,70,56,63,72,65,68,35,85]
Locations=["Starehe","Westlands","Dagoretti North","Gatundu South","Kieni","Nakuru Town West","Butere",
          "Mumias East","Eldoret North"]
Genders=["Male","Female","Male","Female","Female","Female","Male","Female","Male","Male"]

Students_Details = {
    "FullName": FullNames,
    "Age": Ages,
    "Weight": Weights,
    "Location": Locations,
    "Gender": Genders
}
Students_Details

{'FullName': ['Robert Rono',
  'Diana Jerono',
  'Pius Kamau',
  'Jael Onyango',
  'Patience Precious',
  'Asha Matiangi',
  'Owen Wasike',
  'Pamela Vakoli',
  'Protus Makali',
  'Kasongo Kaongo'],
 'Age': [23, 14, 17, 18, 20, 21, 19, 16, 13, 54],
 'Weight': [45, 54, 70, 56, 63, 72, 65, 68, 35, 85],
 'Location': ['Starehe',
  'Westlands',
  'Dagoretti North',
  'Gatundu South',
  'Kieni',
  'Nakuru Town West',
  'Butere',
  'Mumias East',
  'Eldoret North'],
 'Gender': ['Male',
  'Female',
  'Male',
  'Female',
  'Female',
  'Female',
  'Male',
  'Female',
  'Male',
  'Male']}

# 7. Convert the output of number six above into pandas dataframes

In [179]:
import pandas as pd
Students_Details = {'FullName': ['Robert Rono',
  'Diana Jerono',
  'Pius Kamau',
  'Jael Onyango',
  'Patience Precious',
  'Asha Matiangi',
  'Owen Wasike',
  'Pamela Vakoli',
  'Protus Makali',
  'Kasongo Kaongo'],
 'Age': [23, 14, 17, 18, 20, 21, 19, 16, 13, 54],
 'Weight': [45, 54, 70, 56, 63, 72, 65, 68, 35, 85],
 'Location': ['Starehe',
  'Westlands',
  'Dagoretti North',
  'Gatundu South',
  'Kieni',
  'Nakuru Town West',
  'Butere','Mosop',
  'Mumias East',
  'Eldoret North',],
 'Gender': ['Male',
  'Female',
  'Male',
  'Female',
  'Female',
  'Female',
  'Male',
  'Female',
  'Male',
  'Male']}
df = pd.DataFrame(Students_Details)
print(df)

            FullName  Age  Weight          Location  Gender
0        Robert Rono   23      45           Starehe    Male
1       Diana Jerono   14      54         Westlands  Female
2         Pius Kamau   17      70   Dagoretti North    Male
3       Jael Onyango   18      56     Gatundu South  Female
4  Patience Precious   20      63             Kieni  Female
5      Asha Matiangi   21      72  Nakuru Town West  Female
6        Owen Wasike   19      65            Butere    Male
7      Pamela Vakoli   16      68             Mosop  Female
8      Protus Makali   13      35       Mumias East    Male
9     Kasongo Kaongo   54      85     Eldoret North    Male

# 8. Now create a new dictionary of key as name of students in number six and value as gender of students using dictionary comprehensions

In [186]:
newdictionary_comprehension = {name: age for name, age in zip(Students_Details['FullName'], Students_Details['Age'])}
newdictionary_comprehension

{'Robert Rono': 23,
 'Diana Jerono': 14,
 'Pius Kamau': 17,
 'Jael Onyango': 18,
 'Patience Precious': 20,
 'Asha Matiangi': 21,
 'Owen Wasike': 19,
 'Pamela Vakoli': 16,
 'Protus Makali': 13,
 'Kasongo Kaongo': 54}